# Logs
logs
conf

# Runtime data
pids
*.pid
*.seed

# Dependency libs 
bower_components
node_modules
plugins
platforms

# Compiled pack
www

# Icon resources
resources/ios
resources/android

.DS_Store
.idea

